# Server
PORT=3001
NODE_ENV=development

# Supabase — get service_role key from:
# https://supabase.com/dashboard/project/jkpbfpcqxorhmvnlslrk/settings/api
SUPABASE_URL=https://jkpbfpcqxorhmvnlslrk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_M7PbKYJF_3Jeyb8jfZycXA_6mUPwHQ7

# JWT
JWT_SECRET=sdw123fawsdfqwee123guiho1438ñ
JWT_EXPIRES_IN=365d
